@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');



body{
    background-color: black;
}

.container-1 {
    display: flex;
    grid-template-columns: auto auto;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65vw;
    margin: auto;
    margin-top: 10px;
}

.text1 {
    display: inline-block;
    font-size: 60px;
    font-weight: lighter;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: goldenrod
}
  
.text2 {
    display: inline-block;
    text-align: right;
    font-size: 40px;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: lighter;
    padding: 1.3rem;
}
  
i{
    font-size: 2rem;
    color: rgb(55, 55, 180);
    cursor: pointer;
}

.add-text, .back-text{
    color: white;
}
  

.blur {
    filter: blur(4px);
}

.popup-box {
    border-radius: 10px;
    color: black;
    font-weight: bold;
    width: 75vw;
    max-width: 350px;
    z-index: 1;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    padding: 1rem;
    font-size: 35px;
    box-shadow: 2px 2px 20px black;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 35%;
    animation:popupbox 0.4s ease-in-out;
}

input{
    border-radius: 10px;
    border-color: white;
    width: 70%;
    max-width: 300px;
    height: 35px;
    display: block;
    margin: auto;
    cursor: pointer;
    background-color: rgb(189, 184, 184);
}
  
.popup-box-button {
    width: 80px;
    height: 35px;
    font-size: 20px;
    background-color:  black;
    color: white;
    letter-spacing: 2px;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    margin: 1.5vw;
    box-sizing: border-box;
    padding: 0.35rem;
}
  
.popup-box-button:hover{
      box-shadow: 2px 2px 20px black;
}


.box {
  position: relative;
  min-height: 300px;
  width: 200px;
  margin: 25px;
  border-radius: 10px;
  font-size: 25px;
  text-align: center;
  padding: 20px 10px 3.5rem;
  font-family: 'Oleo Script Swash Caps', cursive;
  color: black;
  background-color: white;
}

.box:hover{
    box-shadow: 2px 2px 15px white;
}

#box-heading{
    cursor: pointer;
    font-size: 2rem;
    font-family: 'Oleo Script Swash Caps', cursive;
    text-decoration: none;
}


.button-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.button-container i {
  padding: 0.5rem;
}

.done-button {
  background-color: blue;
  border: 1px solid black;
  color: white;
  border-radius: 0.5rem;
  font-family: 'IM Fell English SC', serif;

}

.done-button:hover {
  background-color: red;
  box-shadow: 1px 1px 5px gray;
}

hr {
  margin-left: 35px;
}

a {
  text-decoration: none;
  color: rgb(219, 163, 22);
  padding: 0.5rem;
}

.completedtext {
  color:  rgb(219, 163, 22);
  text-decoration: line-through;
  font-size: 20px;
  font-weight: 500;
  font-family: 'IM Fell English SC', serif;

}
.pending_checkbox {
  color: black;
  font-size: 20px;
  font-weight: 400;
  font-family: 'IM Fell English SC', serif;
}

.container-2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 75vw;
  margin: auto;
  color: white;
  font-family: 'Oleo Script Swash Caps', cursive;
}


.task {
  margin: 0.5rem;
}

.task-text {
  padding: 0.5rem;
  font-weight: bold;    
  font-size: 1.2rem;
  font-family: 'Oleo Script Swash Caps', cursive;
  color: black;
}

.box-1 {
  padding: 25px 70px;
  margin: auto;
}
.hide {
  display: none;
}

.add-button {
  float: right;
  position: relative;
  top: 125px;
  left: 50px;
}

.hr-1, .hr-2 {
  width: 150px;
  position: relative;
}

.hr-1 {
  right: 200px;
  top: 80px;
}

.hr-2 {
  left: 300px;
  bottom: 70px;
}

.container-3 {
  font-size: 30px;
  font-family: 'Oleo Script Swash Caps', cursive;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 20rem;
  right: 20rem;
  top: -8rem;
}

@keyframes popupbox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1)
    }
  }